.navBarContainer {
    background-color: rgba(2, 6, 71, 0.911);
    height: 2.5em;
    margin: 0 auto;
    margin-bottom: 5px;
    color: white;
    padding: 15px 20px;
    display: flex;
    justify-content:flex-start   
}

.NavBarBtn {
    font-size: small;
    background-color: orange;
    color: black;
    font-weight: bold;
    margin: 5px 5px;
}

.welcome {
    font-weight: bolder;
    margin: 7px auto;
    padding-left: 125px;
}

.navBarContainer > img {
    border-radius: 50%;
    max-width: 50px;
    max-height: 50px;
}

